#main {
    background: #5D576B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5D576B, #5b5469);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5D576B, #5b5469); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding:14rem 0  24rem 8rem;
}
html {
    overflow:-moz-hidden-unscrollable;
    overflow:hidden;
    overflow-y:hidden;
}
@media only screen and (max-width:1440px){
    html {
        overflow:auto;
        overflow-y:auto;
    }
}

@media only screen and (max-width:768px){
    #main {
        padding:14rem 0 24rem 0;
        text-align:center;
    }
}
